### Styles lapiz. Removes the ugly frame etc. ###

style "lapiz-frame" {	
	engine "pixmap" {
 		image {
			function = SHADOW
		}
	}
}

style "lapiz-statusbar" {	
	ythickness = 0

	engine "pixmap" {
		image
		{
		function        = HANDLE
		recolorable     = TRUE
		file            = "Handles/resize-grip.png"
		state           = NORMAL
		stretch         = TRUE
		border          = { 0, 0, 1, 0 }
		}
	}
}

style "lapiz-notebook" = "murrine-notebook-bg" {
	xthickness = 0 # Width of tabs and notebook borders.
	ythickness = 1 # Height of tabs and notebook borders.
}

widget_class "*Lapiz*.<GtkFrame>*"		style "lapiz-frame"
widget_class "*Lapiz*.<GtkScrolledWindow>"	style "murrine-thin"
widget_class "*Lapiz*.<GtkNotebook>"		style "lapiz-notebook"
widget_class "*Lapiz*.<GtkArrow>*"		style:highest "murrine-default"
widget_class "*Lapiz*.<GtkStatusbar>*"		style "lapiz-statusbar"
