### This file styles Caja. baul-e.rc is for Caja elemintry. ###

style "baul-window-base" { bg[NORMAL] = @base_color }

style "baul-sidebar" = "murrine-sidebar" {
	GtkTreeView::horizontal_separator = 15
	GtkTreeView::vertical_separator = 2

	text[NORMAL] = @fg_color
	base[NORMAL] = "#E3E3E3"

	GtkTreeView::odd_row_color = "#E3E3E3"
	GtkTreeView::even_row_color = "#E3E3E3"
}

style "baul-view" {
	xthickness = 0
	ythickness = 0
}

style "baul-handle" {
	GtkPaned::handle-size = 2
	
	engine "pixmap" {
		# for the thin gray line separating the sidepane and viewpane
		image {
			function	= HANDLE
			recolorable	= TRUE
			file		= "Handles/handle-baul.png"
			stretch		= TRUE
			border		= { 0, 0, 0, 0 }
		}
	}
}

style "baul-statusbar"
{
	xthickness = 0
	engine "pixmap"
	{
	    image
	    {
		function		= RESIZE_GRIP
		recolorable		= TRUE
		state			= NORMAL
		detail			= "statusbar"
		overlay_file	= "Caja/resize-grip.png"
		overlay_border	= {0,0,0,0 }
		overlay_stretch	= FALSE
	    }
	}
}

style "baul-location"
{
	bg[NORMAL]  = mix (0.60, shade (1.05, @bg_color), @bg_color)
}

style "baul-pathbar"
{	
	#bg[NORMAL] = @bg_color
}

############################################
# CAJA
# Order of assignment is important
#############################################

widget_class "*CajaSidePane.*"                 style "baul-sidebar"
widget_class "*Caja*Places*Sidebar*"           style "baul-sidebar"
widget_class "*Caja*Side*.GtkWidget"           style "baul-sidebar"
widget_class "*Caja*Side*Title*"               style "baul-sidebar"

#widget "*CajaNavigationWindow"                 style "baul-window-base"

widget_class "*Caja*Scrollbar"                 style "murrine-scrollbar"
widget_class "*CajaSidePane.*Scrollbar"        style:highest "murrine-scrollbar"	
widget_class "*Caja*Statusbar*"                style "baul-statusbar"

widget "*Caja*Splitter"                        style "baul-handle"
widget_class "*Caja*View*"                     style "baul-view"
widget_class "*Caja*Notebook"                  style "murrine-notebook"

widget_class "*Caja*<GtkTreeView>.<GtkButton>" style "murrine-treeview-header"
widget_class "*Caja*<GtkCTree>.<GtkButton>"    style "murrine-treeview-header"
widget_class "*Caja*<GtkList>.<GtkButton>"     style "murrine-treeview-header"
widget_class "*Caja*<GtkCList>.<GtkButton>"    style "murrine-treeview-header"

widget_class "*CajaPathBar*"                   style "baul-pathbar" 
widget "*.baul-extra-view-widget"              style : highest "baul-location"
