### This file styles Baul. baul-e.rc is for Baul elemintry. ###

style "baul-window-base" { bg[NORMAL] = @base_color }

style "baul-sidebar" = "murrine-sidebar" {
	GtkTreeView::horizontal_separator = 15
	GtkTreeView::vertical_separator = 2

	text[NORMAL] = @fg_color
	base[NORMAL] = "#E3E3E3"

	GtkTreeView::odd_row_color = "#E3E3E3"
	GtkTreeView::even_row_color = "#E3E3E3"
}

style "baul-view" {
	xthickness = 0
	ythickness = 0
}

style "baul-handle" {
	GtkPaned::handle-size = 2
	
	engine "pixmap" {
		# for the thin gray line separating the sidepane and viewpane
		image {
			function	= HANDLE
			recolorable	= TRUE
			file		= "Handles/handle-baul.png"
			stretch		= TRUE
			border		= { 0, 0, 0, 0 }
		}
	}
}

style "baul-statusbar"
{
	xthickness = 0
	engine "pixmap"
	{
	    image
	    {
		function		= RESIZE_GRIP
		recolorable		= TRUE
		state			= NORMAL
		detail			= "statusbar"
		overlay_file	= "Baul/resize-grip.png"
		overlay_border	= {0,0,0,0 }
		overlay_stretch	= FALSE
	    }
	}
}

style "baul-location"
{
	bg[NORMAL]  = mix (0.60, shade (1.05, @bg_color), @bg_color)
}

style "baul-pathbar"
{	
	#bg[NORMAL] = @bg_color
}

############################################
# BAUL
# Order of assignment is important
#############################################

widget_class "*BaulSidePane.*"                 style "baul-sidebar"
widget_class "*Baul*Places*Sidebar*"           style "baul-sidebar"
widget_class "*Baul*Side*.GtkWidget"           style "baul-sidebar"
widget_class "*Baul*Side*Title*"               style "baul-sidebar"

#widget "*BaulNavigationWindow"                 style "baul-window-base"

widget_class "*Baul*Scrollbar"                 style "murrine-scrollbar"
widget_class "*BaulSidePane.*Scrollbar"        style:highest "murrine-scrollbar"	
widget_class "*Baul*Statusbar*"                style "baul-statusbar"

widget "*Baul*Splitter"                        style "baul-handle"
widget_class "*Baul*View*"                     style "baul-view"
widget_class "*Baul*Notebook"                  style "murrine-notebook"

widget_class "*Baul*<GtkTreeView>.<GtkButton>" style "murrine-treeview-header"
widget_class "*Baul*<GtkCTree>.<GtkButton>"    style "murrine-treeview-header"
widget_class "*Baul*<GtkList>.<GtkButton>"     style "murrine-treeview-header"
widget_class "*Baul*<GtkCList>.<GtkButton>"    style "murrine-treeview-header"

widget_class "*BaulPathBar*"                   style "baul-pathbar" 
widget "*.baul-extra-view-widget"              style : highest "baul-location"
