### Styles lapiz. Removes the ugly frame etc. ###

style "lapiz-frame" {	
	engine "pixmap" {
 		image {
			function = SHADOW
		}
	}
}

style "lapiz-statusbar" {	
	ythickness = 0
}

style "lapiz-notebook" = "murrine-notebook-bg" {
	xthickness = 0 # Width of tabs and notebook borders.
	ythickness = 1 # Height of tabs and notebook borders.
}

widget_class "*Pluma*.<GtkFrame>*"		style "lapiz-frame"
widget_class "*Pluma*.<GtkScrolledWindow>"	style "murrine-thin"
widget_class "*Pluma*.<GtkNotebook>"		style "lapiz-notebook"
widget_class "*Pluma*.<GtkArrow>*"		style:highest "murrine-default"
widget_class "*Pluma*.<GtkStatusbar>*"		style "lapiz-statusbar"
